body {
  font-family: "Times New Roman";
  font-size: 20px
}

.panel {
  display: inline-block;
  width: 33%;
}

#newList {
  font-family: Helvetica;
  margin-top: 25px;
  font-weight: bold;
  color: darkviolet;

  /* text-decoration: underline; */
}

a {
  text-decoration: none;
}

.li-group-item {
  margin: 10px 0;
}

button {
  font-family: Arial;
  font-size: inherit;
  color: darkblue;
  background-color: tan;
  width: 30px
  height: 20px;
}

input {
  margin: 10px 10px;
  height: 20px;
}

.panel {
  font-family: Helvetica;
  margin-top: 25px;
  font-weight: bold;
  color: darkviolet;
  /* text-decoration: underline; */
}
